@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --main-gradient: linear-gradient(#100822, #0c0618);
  --j-color: #77d8d8;
  --m-color: #f2a365;
}

body {
  background-image: var(--main-gradient);
  color: #fff;
  font-family: "Tillium Web", sans-serif;
  margin: 0;
  /* position: relative; */
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}

.logo {
  width: 20%;
  display: flex;
  align-items: center;
}

.logo img {
  border-right: 2px solid #2b223a;
  padding: 0 10px;
  width: 40%;
}

.logo p {
  margin: 0 20px;
  text-transform: uppercase;
  font-size: 26px;
}

.nav-left {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.twitch-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  transform: scale(0.8);
}

.twitch-nav a {
  display: flex;
  align-items: center;
  margin: 0 8px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #eee;
}

.twitch-nav a .left {
  padding: 11px 7px;
  border-radius: 4px 0 0 4px;
  background-color: #6441a4;
}

.twitch-nav li .right {
  padding: 11px 7px;
  border-radius: 0px 4px 4px 0px;
  background-color: #4b367c;
}

.page-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  border-left: 2px solid #2b223a;
}

.page-nav li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  transition: all 0.2s ease-in;
}

.page-nav li a:hover {
  background-color: #eee;
  color: #000;
  border-color: #100822;
  transform: scale(1.1);
}

.banner {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.main-frame {
  margin-top: 80px;
  margin-bottom: 120px;
  text-align: center;
}

.social {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}

.social .media {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
  box-shadow: 6px 6px 8px 1px #ddd;
  margin: 0 20px;
}

.media-icon {
  border-right: 2px solid #2b223a;
}

.media-icon i {
  font-size: 48px;
  padding: 20px 40px;
  color: #9147ff;
  transition: color 0.4s ease;
}

.media:hover i {
  color: #fff;
}

.media-inner {
  padding: 20px 40px;
}

.media-inner h3 {
  color: red;
  letter-spacing: 1.5px;
}

.schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
  text-align: center;
}

.caption {
  max-width: 800px;
  line-height: 1.6;
  margin-bottom: 40px;
  text-align: center;
}

.schedule .caption a {
  display: inline-block;
  color: orange;
  text-decoration: none;
  transition: transform 0.6s ease;
}

.schedule .caption a:hover {
  transform: scale(1.1);
}

.schedule-grid {
  max-width: 600px;
  display: grid;
  grid-gap: 60px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.day {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 14px;
  box-shadow: 2px 2px 8px 1px #ddd;
}

.day h4 {
  text-transform: uppercase;
  padding: 8px 0;
  letter-spacing: 2px;
}

.day.sunday {
  grid-column: 2;
}

.sponsors {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto 100px;
}

.sponsors h2 {
  text-transform: uppercase;
  letter-spacing: 6px;
  color: orange;
  font-size: 50px;
}

.sponsors-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.sponsors-grid a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 50px;
  text-align: center;
}

a:nth-child(1) {
  grid-column: 3/7;
  grid-row: 1;
}

a:nth-child(2) {
  grid-column: 9/13;
  grid-row: 1;
}

a:nth-child(3) {
  grid-column: 1/4;
  grid-row: 2;
}

a:nth-child(4) {
  grid-column: 6/10;
  grid-row: 2;
  font-size: 36px;
}

a:nth-child(5) {
  grid-column: 12/15;
  grid-row: 2;
}

a:nth-child(6) {
  grid-column: 3/7;
  grid-row: 3;
}

a:nth-child(7) {
  grid-column: 9/13;
  grid-row: 3;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
}

.contact form {
  width: 600px;
}

.contact .form-group {
  width: 100%;
  border: 3px solid #6d26dd;
  padding: 20px;
  margin: 14px 0;
  border-radius: 14px;
}

.form-group input {
  width: 80%;
  padding: 2px 10px;
  margin: 0 10px;
  border: 0;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  font-size: 18px;
}

.form-group textarea {
  width: 100%;
  height: 60px;
  margin: 10px 0;
  background-color: transparent;
  color: #fff;
}

.area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

form [type="submit"] {
  display: block;
  width: 120px;
  margin: 20px auto;
  padding: 14px 15px;
  background-color: #6d26dd;
  border: 0;
  border-radius: 14px;
  color: #fff;
  cursor: pointer;
  outline: 0;
}

form [type="submit"]:active {
  transform: scale(0.95);
}

form input {
 color: #fff; 
}

footer {
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  width: 14%;
  margin-top: 10px;
}

.footer-social {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
  margin-top: -10px;
}

.footer-social i {
  font-size: 32px;
  color: #ccc;
}

.footer-social li:hover i {
  color: #fff;
}

.copyright {
  font-size: 24px;
}

.copyright a {
  color: #ddd;
  text-decoration: none;
  margin-left: 4px;
}

.copyright .j {
  color: var(--j-color);
}

.copyright .m {
  color: var(--m-color);
}
