* {
    margin: 0;
    padding: 0;
}

body {
    background: #eee;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.img {
    height: 95vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.img1 {
    background-image: url('img/dopeGASM.jpg');
}

.img2 {
    background-image: url('img/ricardo.jpg');
}

header {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    margin-bottom: 5px;
}

.intermediate {
    height: 5vh;
    padding: 1rem;
    background: #000;
    color: #fff;
    border: 1px solid;
    box-shadow: 0px 0px 10px 1px #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}
